.code-quiz-header {
  font-family: "Concert One", cursive;
  font-size: 16px;
  color: rgb(177, 34, 177);
}

.code-quiz-main {
  font-size: 16px;
  color: rgb(177, 34, 177);
}

/*Set padding to 0 for left alignment of all quiz questions and their options*/
ul {
  padding: 0;
}

li {
  height: 25px;
  margin-top: 10px;
  margin-bottom: 1px;
  padding: 1px;
  background-color: white;
  /*Hide the bullet point*/
  color: white;
  font-size: 1.5em;
  /*line-height: 1.5;*/
}

/* Large rounded gray border - separator */
hr.bold-gray {
  border: 1px solid darkgray;
  border-radius: 1px;
}

/*The below div ids will initially be hidden*/
#resultDiv, #quiz-page, #closing-page, #view-name{
  display: none;
} 

/*The float left class to align buttons to */
.float-left {
  float: left;
  margin-right: 30px;
}

/*Create right margin to leave space between the input field and the submit button*/
.form-control {
  margin-right: 30px;
}

#submit-name {
  width: 98px;
}

